*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
        text-align: center;
        font-family: 'Anek Latin', sans-serif;
        font-family: 'Nunito', sans-serif;;
        box-shadow: 0 0  1em rgb(0, 0, 0.3);
        width: 100%;
        padding: 20px;
}
h2{
    font-family: 'Anek Latin', sans-serif;
        font-family: 'Nunito', sans-serif;
        text-align: center;

}
a{
    position: relative;
    left: 25%;  
}
.card__img{
    height: 300px;
    width: 300px;
}
.card{
    border-radius:6px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 0 0 1em rgb(30, 30, 177);
}
.container{
    display: flex;
    flex-direction: row;
}
